.lc-root-container {
    --color-primary: var(--color-blue-500);
    --color-surface-100: var(--color-white);
    --color-surface-200: var(--color-gray-100);
    --color-surface-300: var(--color-gray-300);
    --color-surface-content: var(--color-gray-900);
}